<div class="row-fluid" th:fragment="copy">
    <div class="span12">
        <table class="table">
            <thead>
            <tr>
                <th th:each="column:${table.columns}" th:text="${column}">字段名</th>
            </tr>
<!--            <li th:each="book : ${books}" th:text="${book.title}">En las Orillas del Sar</li>-->
<!--            <tr>-->
<!--                <th>-->
<!--                    编号-->
<!--                </th>-->
<!--                <th>-->
<!--                    日期-->
<!--                </th>-->
<!--                <th>-->
<!--                    心情指数-->
<!--                </th>-->
<!--                <th>-->
<!--                    备注-->
<!--                </th>-->
<!--            </tr>-->
            </thead>
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    1-->
<!--                </td>-->
<!--                <td>-->
<!--                    TB - Monthly-->
<!--                </td>-->
<!--                <td>-->
<!--                    01/04/2012-->
<!--                </td>-->
<!--                <td>-->
<!--                    Default-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr class="success">-->
<!--                <td>-->
<!--                    1-->
<!--                </td>-->
<!--                <td>-->
<!--                    TB - Monthly-->
<!--                </td>-->
<!--                <td>-->
<!--                    01/04/2012-->
<!--                </td>-->
<!--                <td>-->
<!--                    Approved-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr class="error">-->
<!--                <td>-->
<!--                    2-->
<!--                </td>-->
<!--                <td>-->
<!--                    TB - Monthly-->
<!--                </td>-->
<!--                <td>-->
<!--                    02/04/2012-->
<!--                </td>-->
<!--                <td>-->
<!--                    Declined-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr class="warning">-->
<!--                <td>-->
<!--                    3-->
<!--                </td>-->
<!--                <td>-->
<!--                    TB - Monthly-->
<!--                </td>-->
<!--                <td>-->
<!--                    03/04/2012-->
<!--                </td>-->
<!--                <td>-->
<!--                    Pending-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr class="info">-->
<!--                <td>-->
<!--                    4-->
<!--                </td>-->
<!--                <td>-->
<!--                    TB - Monthly-->
<!--                </td>-->
<!--                <td>-->
<!--                    04/04/2012-->
<!--                </td>-->
<!--                <td>-->
<!--                    Call in to confirm-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
        </table>
    </div>
</div>